{% render 'partials/head.liquid' %}
{% render 'partials/header.liquid' %}


     <ul class="card-container">  
        {% for artwork in artworks %}
            <li class="">
                <a href="/object/{{ artwork.id }}">
                <img class="image" src="https://fdnd-agency.directus.app/assets/{{ artwork.image }}" alt="">
                </a>

                <button class="like-button"></button>
            </li>
          {% endfor %}
      </ul> 

      <form>
        <label>
            <input type="search" placeholder="SEARCH THE COLLECTION">
        </label>
      </form>
          {% render 'partials/foot.liquid' %}
